<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/about_us_page.css" />
    <title>KK-FITNESS</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo">
        <a href="#"><img class="kk-fitness-logo" src="/static/media/kk-fitness-logo.jpg"alt="logo" /></a>
      </div>
      <ul class="nav__links">
        <li class="link"><a href="/user_home/">Home</a></li>
        <li class="link"><a href="/about_us/">About-us</a></li>
        <li class="link"><a href="/membership/">Membership</a></li>
        <li class="link"><a href="/product/">Product</a></li>
        <li class="link"><a href="/user_profile/">profile</a></li>
        <li class="link"><a href="/trainer/">Trainer</a></li>

      </ul>
      <button class="btn">
         <a style="color: white;" href= "/logout/" >Logout</a>
      </button>
    </nav>

  <section class="about-us">
    <H2>Welcome to KK-FITNESS - Your Path to Fitness</H2>
    <P>At kk-fitenss, we believe that fitness is not just a destination but a journey towards a healthier and happier life. Established with a vision to inspire and empower individuals to reach their fitness goals, our gym is more than just a place to work out – it's a community where like-minded individuals come together to sweat, grow, and transform.</P>
    <br>
    <h2>Our Mission</h2>
    <p>Our mission is simple: to provide a supportive and inclusive environment where people of all fitness levels can thrive. Whether you're a seasoned athlete or just starting your fitness journey, our dedicated team of trainers and staff are here to guide and motivate you every step of the way</p>
    <br>
    <h2>State-of-the-Art Facilities</h2>
    <p>Equipped with state-of-the-art facilities and cutting-edge equipment, kk-fitenss offers everything you need to achieve your fitness goals. From cardio machines and free weights to group fitness classes and personal training sessions, we provide a diverse range of options to keep your workouts exciting and effective.</p>
    <br>
    <h2>Passionate Trainers</h2>
    <p>Our team of certified trainers is passionate about helping you unlock your full potential. With their expertise and personalized approach, they will work with you to create tailored fitness plans that align with your goals, preferences, and lifestyle.</p>
    <br>
    <h2>Community Spirit</h2>
    <p>At kk-fitness, we believe that fitness is not just about physical strength, but also about building connections and fostering a sense of community. Whether it's through our group classes, social events, or online forums, you'll find endless opportunities to connect with fellow members who share your passion for health and wellness.</p>
    <br>
    <h2>Join Us Today</h2>
    <p>Ready to take the first step towards a healthier, happier you? Join the kk-fitness family today and embark on a journey towards a stronger, fitter, and more confident version of yourself. No matter where you are in your fitness journey, we're here to support you every step of the way.</p>
    <br>
    <h2>Contact Us</h2>
    <p>Have questions or ready to get started? Don't hesitate to reach out to our friendly team.</p>
  </section>
  


    <footer class="section__container footer__container">
          <span class="bg__blur"></span>
          <span class="bg__blur footer__blur"></span>
          <div class="footer__col">
            <div class="footer__logo"><img src="/static/media/kk-fitness-logo.jpg"alt="logo" /></div>
            <p>
              Take the first step towards a healthier, stronger you with our
              unbeatable pricing plans. Let's sweat, achieve, and conquer together!
            </p>
            <div class="footer__socials">
              <a href="#"><i class="ri-facebook-fill"></i></a>
              <a href="#"><i class="ri-instagram-line"></i></a>
              <a href="#"><i class="ri-twitter-fill"></i></a>
            </div>
          </div>
          <div class="footer__col">
            <h4>ADDRESS</h4>
            <P>15/16 sadguru complex,</P>
            <p>new-maninager,</p>
            <p>ahmedabad,gujarat.</p>
          </div>
          <div class="footer__col">
            <h4>About Us</h4>
            <p>for more info plz chek about_us page</p>
          </div>
          <div class="footer__col">
            <h4>Contact</h4>
            <p> 9999-444-555</p>
            <p> 8888-145-245</p>
            <p> kkfitness@gamil.com</p>
          </div>
        </footer>
    <div class="footer__bar">
     Copyright © 2023 kk fitness all right reserve
    </div>
  </body>
</html>