<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/yoga_page.css" />
    <title>KK-FITNESS</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo">
        <a href="#"><img class="kk-fitness-logo" src="/static/media/kk-fitness-logo.jpg"alt="logo" /></a>
      </div>
      <ul class="nav__links">
        <li class="link"><a href="/user_home/">Home</a></li>
        <li class="link"><a href="/about_us/">About-us</a></li>
        <li class="link"><a href="/membership/">Membership</a></li>
        <li class="link"><a href="/product/">Product</a></li>
        <li class="link"><a href="/user_profile/">profile</a></li>
        <li class="link"><a href="/trainer/">Trainer</a></li>

      </ul>
      <button class="btn">
         <a style="color: white;" href= "/logout/" >Logout</a>
      </button>
    </nav>

    <div class="price__grid">
      {% for product_det in yoga %}
      {% if product_det.user_name == request.user.username %}
      <div class="price__card">
        <div class="price__card__content">
          <h4 style="text-align: center;">CURRENT YOGA-CLASS INFORMATION</h4>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Trianer Name : {{product_det.trainer_name}}
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Class Price : {{product_det.class_price}}
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Total Day Left : {{product_det.total_day}}
          </p>
          <p>
            <i class="ri-checkbox-circle-line"></i>
            Class Time : {{product_det.class_time}}
          </p>
          </p>
          <a href="" style="display: grid;">
            <button class="btn price__btn">Upgrade Now</button>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

      <div class="price__grid">
        {% for yoga_class in y_detail %}

        <div class="price__card">
          <div class="price__card__content">
            <h4 style="text-align: center;">YOGA-CLASS INFORMATION</h4>

            <h4>Trainer Name: {{yoga_class.yoga_trainer_name}}</h4>
            <h3>price: {{yoga_class.price}}</h3>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Total Day: {{yoga_class.total_day}}
            </p>
            <p>
              <i class="ri-checkbox-circle-line"></i>
              Time: {{yoga_class.time}}
            </p>
          </div>
          <a href="/book_yoga_class/{{yoga_class.id}}">
          <button class="btn price__btn">Join Now</button>
          </a>
        </div>
    {% endfor %}
    </div>

<footer class="section__container footer__container">
      <span class="bg__blur"></span>
      <span class="bg__blur footer__blur"></span>
      <div class="footer__col">
        <div class="footer__logo"><img src="/static/media/kk-fitness-logo.jpg"alt="logo" /></div>
        <p>
          Take the first step towards a healthier, stronger you with our
          unbeatable pricing plans. Let's sweat, achieve, and conquer together!
        </p>
        <div class="footer__socials">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-instagram-line"></i></a>
          <a href="#"><i class="ri-twitter-fill"></i></a>
        </div>
      </div>
      <div class="footer__col">
        <h4>ADDRESS</h4>
        <P>15/16 sadguru complex,</P>
        <p>new-maninager,</p>
        <p>ahmedabad,gujarat.</p>
      </div>
      <div class="footer__col">
        <h4> About Us</h4>
        <p>more info cheak about_us_page</p>
      </div>
      <div class="footer__col">
        <h4>Contact</h4>
        <p> 9999-444-555</p>
        <p> 8888-145-245</p>
        <p> kkfitness@gamil.com</p>
    </footer>
    <div class="footer__bar">
      Copyright © 2023 kk fitness all right reserve
    </div>
  </body>
</html>

